<h1>Result</h1>

<% if @included %>
  <% if @english_word %>
    <p>Congratulations! '<%= params[:input] %>' is a valid English word!</p>
  <% else %>
    <p>Sorry but '<%= params[:input] %>' does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but '<%= params[:input] %>' can't be built out of <%= @letters.join(", ") %></p>
<% end %>
<%= link_to "Play again", new_path %>
